<main>
  <div class="container">
    <h2>{{ thing.name }} (ID: {{ thing.id }})</h2>
    <p>Created at: {{ thing.createdAt | date:'medium' }}</p>

    <h3>Historical Data</h3>
    <label>Select variable to graph:</label>
    <select ng-model="selectedVariable" ng-change="loadVariableGraph()">
      <option value="" disabled selected>Select a variable</option>
      <option ng-repeat="var in availableVariablesForGraph" value="{{ var }}">{{ var }}</option>
    </select>

    <div ng-if="graphData.timestamps.length">
      <h4>Graph for {{ selectedVariable }}</h4>
      <canvas class="chart chart-line"
              chart-data="graphData.values"
              chart-labels="graphData.timestamps"
              chart-series="graphData.series"
              chart-options="chartOptions">
      </canvas>
    </div>

    <h3>Edit configuration</h3>
    <form ng-submit="updateConfig()">
      <div ng-repeat="param in parameters track by $index">
        <label>{{ param.key }}</label>
        <input type="text" ng-model="param.value" required />
        <br><br>
      </div>    
      <button type="submit">Save changes</button>
    </form>
    
    <hr>
    
    <h3>Add new parameter</h3>
    <form ng-submit="addParameter()">
      <label>Key:</label>
      <input type="text" ng-model="newParameter.key" placeholder="Parameter key" required />
      <label>Value:</label>
      <input type="text" ng-model="newParameter.value" placeholder="Parameter value" required />
      <button type="submit">Add parameter</button>
    </form>
    
    <hr>
    
    <h3>Add new telemetry variable</h3>
    <form ng-submit="addVariable()">
      <label>Name:</label>
      <input type="text" ng-model="newVariable.name" placeholder="Variable name" required />
      <button type="submit">Add variable</button>
    </form>

    <h3>Add new telemetric data</h3>
    <form ng-submit="addTelemetry()">
      <label>Variable:</label>
      <select ng-model="newTelemetry.variable" required>
        <option value="" disabled selected>Select a variable</option>
        <option ng-repeat="var in availableVariables" value="{{ var }}">{{ var }}</option>
      </select>
      <br>
      <label>Value:</label>
      <input type="number" ng-model="newTelemetry.value" required />
      <br>
      <button type="submit">Add data</button>
    </form>
    <button ng-click="goToMain()">⬅ Go back</button>
  </div>
</main>
